.worktrees/
.superpowers/
node_modules/
dist/
backend_service/node_modules/
backend_service/dist/
backend_service/protocol/node_modules/
backend_service/protocol/dist/
npm-debug.log*
.backend_service.pid
